<form method='GET'>
	<legend>
		<label>ID: </label><br><input type="text" name="ID" id="id"><br>
		<label>Title: </label><br><input type="text" name="Title" id="title"/><br>
		<label>Body: </label><br><textarea rows="4" cols="50">
		</textarea>
		<input type="submit" value="save film">
	</legend>
</form>