<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
<<<<<<< HEAD
=======
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
>>>>>>> d9531087381d6df26b202067373d7da000288802
	</head>
	<body>
		<% include partials/navigation %>
		<%- body %>
	</body>
</html>