
<h2> Name: <%= actor.title %></h2>
<p> <strong>Description: </strong> <%= actor.description %></p>
<a href="/actors/<%= actor.id %>/edit">Edit</a>
<form action="/actors/<%= actor.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
