<form action="/sessions" id="form"  method="POST" class="login-form">
    <div>
        <label>Email </label>
        <input required type="email" name="email">
    </div>
    <div>
        <label>Password</label>
        <input required type="password" name="password">
    </div>

    <input type="submit" value="Sign In">
</form>