<form method='GET'>
	<legend>
		<label>ID: 		</label><input type="text" name="ID" id="id" value=" <%= film.id %>"> <br>
		<label>Title: 	</label><input type="text" name="Title" id="title" value="<%= film.title %>"> <br>
		<label>Description: 	</label><br><textarea rows="4" cols="50"> <%= film.body %> </textarea>
		</textarea>
	</legend>
</form>