<form action="/films" method='POST'>
	<legend>
		<label>ID: 		</label><br><input type="text" name="ID" id="id" value=" <%= film.id %>" placeholder="ID:"/> <br>
		<label>Title: 	</label><br><input type="text" name="Title" id="title" value="<%= film.title %>"/> <br>
		<label>Description: 	</label><br><textarea rows="4" cols="50"> <%= film.description %> </textarea><br>
		</textarea>
		<input type="submit" value="save film">
	</legend>
</form>